*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0b0b0b;

color:white;

font-family:Inter,sans-serif;

}

header{

position:fixed;

top:0;

width:100%;

padding:25px 60px;

display:flex;

justify-content:space-between;

background:rgba(0,0,0,.6);

backdrop-filter:blur(20px);

z-index:999;

}

.logo{

font-family:"Cormorant Garamond",serif;

font-size:32px;

letter-spacing:3px;

color:#d4af37;

}

nav a{

color:white;

margin-left:30px;

text-decoration:none;

}

.hero{

height:100vh;

background:url("../images/watch1.jpg") center/cover;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.overlay{

background:rgba(0,0,0,.65);

padding:60px;

border-radius:20px;

}

.small{

letter-spacing:5px;

color:#bbb;

}

.hero h1{

font-size:80px;

font-family:"Cormorant Garamond",serif;

color:#d4af37;

margin:20px 0;

}

.hero h2{

font-weight:300;

margin-bottom:30px;

}

.hero a{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#d4af37;

color:black;

text-decoration:none;

border-radius:30px;

font-weight:600;

}

section{

padding:120px;

}

.line{

width:120px;

height:3px;

background:#d4af37;

margin:25px 0;

}

.card{

margin-top:40px;

display:flex;

gap:40px;

background:#171717;

padding:30px;

border-radius:18px;

}

.card img{

width:300px;

border-radius:12px;

}